/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2021, 6:16:47 PM
    Author     : Matthew Paul Mangus @ matthewmangus.com
*/
#WholeCalc {
    position: relative;
    max-width: 225px;
    max-height: 225px;
}
#ScreenOutput {
    position:absolute;
    opacity: 1;
    top:23px;
    left:81px;
    bottom: 68px;
    right: 150px;
    z-index: 2;
}
#calcimg {
    height:100%;
    width:100%;
}

map {
    display:flex;
}


/* Have to add scrollability https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp https://www.w3schools.com/howto/howto_css_vertical_menu.asp */
.catalogheader {
    font-size: 8px;
}
.catalogmenu {
    overflow: auto;
    white-space: nowrap;
}