/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2021, 6:16:47 PM
    Author     : Matthew Paul Mangus @ matthewmangus.com
*/
#WholeCalc {
    position: relative;
    max-width: 225px;
    max-height: 225px;
}
#ScreenOutput {
    position:absolute;
    opacity: 1;
    top:23px;
    left:81px;
    bottom: 68px;
    right: 150px;
    z-index: 2;
}
#calcimg {
    height:100%;
    width:100%;
}

map {
    display:flex;
}


/* Have to add scrollability https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp https://www.w3schools.com/howto/howto_css_vertical_menu.asp */
.catalogheader {
    font-size: 8px;
}
.catalogmenu {
    overflow: auto;
    white-space: nowrap;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }