/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2021, 6:16:47 PM
    Author     : Matthew Paul Mangus @ matthewmangus.com
*/
#calc {
  position: relative;
  max-width: 225px;
  max-height: 225px;
}
#screenoutput {
  position: absolute;
  opacity: .5;
  top:23px;
  left:81px;
  bottom: 155px;
  right: 75px;
  z-index: 2;
}
#calcimg {
    height: 100%;
    width: 100%;
}

map {
    display: flex;
}