/* 
    Created on : Nov 26, 2021, 6:16:47 PM
    Author     : Matthew Paul Mangus @ matthewmangus.com
*/
#WholeCalc {
    position: relative;
}
#ScreenOutput {
    position:absolute;
    background-color:black;
    top:23px;
    left:81px;
    bottom: 68px;
    right: 150px;
    z-index: 2;
}


map {
    display:flex;
}